[Unit]
Description=Ryotunes playback daemon socket

[Socket]
ListenStream=%t/ryotunes/ryotunesd.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
