[Desktop Entry]
Type=Application
Name=Ryotunes (QML)
GenericName=Music Player
Comment=Ryoku-oriented desktop music client (native Quickshell client)
Exec=ryotunes-qml
Icon=ryotunes
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;youtube;player;ryoku;lyrics;quickshell;
StartupNotify=true
StartupWMClass=org.quickshell
